.main {
  min-height: calc(100vh - 80px);
}

.animate{
  animation: bounce 3s linear infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0px)
  } 
  50% {
    transform: translateY(-12px)
  }
  100% {
    transform: translateY(0px)
  }
}